apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
        - name: user-service
          image: squirrel-api/user-service:v1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3002
          envFrom:
            - configMapRef:
                name: squirrel-config
          env:
            - name: PORT
              value: "3002"
            - name: REDIS_URL
              valueFrom:
                configMapKeyRef:
                  name: squirrel-config
                  key: REDIS_URL
            - name: SQUIRREL_INTERNAL_KEY
              valueFrom:
                secretKeyRef:
                  name: squirrel-app-secrets
                  key: SQUIRREL_INTERNAL_KEY
            - name: POSTGRES_URL
              valueFrom:
                secretKeyRef:
                  name: squirrel-app-secrets
                  key: USER_POSTGRES_URL
            - name: DEFAULT_USER_ROLE
              valueFrom:
                configMapKeyRef:
                  name: squirrel-config
                  key: DEFAULT_USER_ROLE
          readinessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 3002
            initialDelaySeconds: 30
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
